/* font style  */
body{
      font-family: 'Open Sans', sans-serif;
}
.text-primary{
      color: #FD6E0A;
}
.btn-primary{
      border-radius: 5px;
      background: #FD6E0A;
      color: white;
      font-size: 20px;
      border: 0;
      padding: 15px 35px;
}
/* share style start */
.section-title{
      color:  #181818;
      text-align: center;
      font-size: 35px;
      font-weight: 700;
}
.section-description{
      color:  #757575;
      text-align: center;
      font-size: 18px;
      
}
.box{
      padding: 0 130px;
}
/* share style end  */
/* nav style ccs start  */
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 200px;
}
.nav-title{
      color: #181818;
      font-size: 45px;
      font-weight: 800;
}
nav > ul{
      display: flex;
      align-items: center;
}
nav li{
     list-style: none; 
     margin-right: 50px;
}
nav a{
      text-decoration: none;
      color: #474747;
}
/* nav style css end  */
header{
      background-color: #FFF8F3;
      background-image: url("images/header_bg.png"), url("images/developer.png");
      background-repeat: no-repeat;
      background-position: bottom right, top left;
}
/* banner css start  */
.banner{
      padding: 30px 30px 0px 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.banner-content{
      max-width: 427px;
}
.banner .profile-pic{
      width: 500px;
}
.banner-gretting{
      color:  #474747;
      font-size: 45px;
      font-weight: 600;
      margin-bottom: 0;
}
.banner-title{
      color: #181818;
      font-size: 70px;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 20px;
}
.banner-description{
      color: #757575;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
}
/* maine section start  */
main{
      max-width: 1140px;
      margin: 0 auto;
}
/* maine section end  */
/* about section  start */
.about{
      padding: 130px;
      border-radius: 10px;
      background-color:#FFF8F3;
      margin-top: 130px;
}
.about-container{
      display: flex;
      
      justify-content: space-around;

}
.about-info{
      text-align: center;
}
.info-title{
      color: #757575;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 0px;
     
}
.info-description{
      color: #181818;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      
}
/* about section end  */
/* what i do section start */
.what{
      margin-top: 130px;
}
.skill-container{
      display: flex;
      justify-content: space-around;
}
.skill{
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
      padding: 33px;
      margin: 50px 15px;
}
.skill-title{
      color: #181818;
      font-size: 20px;
      font-weight: 700;
      
}
.skill-description{
      color: #757575;
      font-size: 16px;
      font-weight: 400;
}
/* what i do section end  */
/* resume style css start */
.resume-section{
      margin-top: 50px;
      margin-bottom: 70px;
}
.resume{
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
}
.my-education{}
.info{
     padding: 0 25px 0 0; 
}
.info p{
      padding-right: 42px;
      color: #757575;
      font-size: 16px;
      font-weight: 400;
}
.info h5{
color: #474747;
font-size: 20px;
font-weight: 700;

}
.my-education h4{
      color: #474747;
      font-size: 30px;
      font-weight: 700;

}
.my-experience h4{
      color: #474747;
      font-size: 30px;
      font-weight: 700;
}
.b-div{
      text-align: center;
      margin-top: 50px;
}
